# Binaries
rmap
visualizer
*.exe
*.test

# # Large Databases (Recommended to keep local)
# asset/geo/*.mmdb

# Reports and logs
reports/
*.log

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/